:root {
    --clr-primary-orange: 35 77% 62%;
    --clr-primary-red: 5 85% 63%;
    --clr-secondary-white: 36 100% 99%;
    --clr-secondary-gray: 233 8% 79%;
    --clr-secondary-dark-blue-gray: 236 13% 42%;
    --clr-secondary-dark-blue: 240 100% 5%;

    --ff-primary: "Inter", sans-serif;

    --fw-small: 400;
    --fw-700: 700;
    --fw-biggest: 900;

    --fs-par: 16px;
    --fs-above-par: 18px;
    --fs-span: 30px;
    --fs-h1: 50px;
}

*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    font: inherit;
}

html {
    color-scheme: light;
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
  }

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
  }

  /* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* end of default styles */
/* --------------- */

body {
    min-height: 100vh;
    padding: 3% 10%;
    font-family: var(--ff-primary);
    font-weight: var(--fw-small);
    font-size: var(--fs-par);
}

#body-container {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: 
    'image'
    'section'
    'sidebar'
    'footer1'
    'footer2'
    'footer3';
}

#main-image {
    grid-area: image;
}

#main-section-text {
    grid-area: section;
}

#sidebar {
    grid-area: sidebar;
}

#footer-one {
    grid-area: footer1;
}

#footer-two {
    grid-area: footer2;
}

#footer-three {
    grid-area: footer3;
}

@media (min-width: 900px) {
    #body-container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        grid-template-areas: 
        'image image sidebar'
        'section section sidebar'
        'footer1 footer2 footer3';   
    }

    #main-image {
        grid-area: image;
    }

    #main-section-text {
        grid-area: section;
    }

    #sidebar {
        grid-area: sidebar;
    }

    #footer-one {
        grid-area: footer1;
    }

    #footer-two {
        grid-area: footer2;
    }

    #footer-three {
        grid-area: footer3;
    }
}


@media (min-width: 600px) and (max-width: 899px) {

    #body-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-template-areas: 
        'image image'
        'section section' 
        'sidebar sidebar'
        'footer1 footer2'
        'footer3 .';   
    }

    #main-image {
        grid-area: image;
    }

    #main-section-text {
        grid-area: section;
    }

    #sidebar {
        grid-area: sidebar;
    }

    #footer-one {
        grid-area: footer1;
    }

    #footer-two {
        grid-area: footer2;
    }

    #footer-three {
        grid-area: footer3;
    }
}

#header-container {
    background-color: hsl(var(--clr-secondary-white));
    grid-area: header;
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
    align-items: center;
    gap: 20px;
}

#header-container img {
    width: 50px;
    margin-left: -5px;
}

.image {
    flex-shrink: 0;
}

.header-links  ul {
    display: flex;
    list-style-type: none;
    gap: 25px;
}

.menu-item {
    color: hsl(var(--clr-secondary-dark-blue-gray));
    text-decoration: none;
    font-size: var(--fs-par);
    display: block;
}

.menu-item:hover {
    color: hsl(var(--clr-primary-red));
}

.toggle-button {
    position: absolute;
    top: 1.25rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: hsl(var(--clr-secondary-dark-blue));
}

.x-button {
    position: absolute;
    right: .05rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    transform: rotate(45deg);
    text-decoration: none;
    font-size: 63px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: hsl(var(--clr-secondary-dark-blue));
}

@media (max-width: 600px) {
    .toggle-button {
        display: flex;
        position: fixed;
    }

    .active-toggle {
        display: none;
    }

    .x-button {
        display: none;
    }

    .active-x {
        display: flex;
        position: fixed;
    }

    .header-links {
         display: none;
         width: 300px;
         height: 2000px;
         position: fixed;
         top: 0;
         right: 0;
         background: hsl(var(--clr-secondary-white));
    }

    .active-header {
        display: flex;
    }

    .header-links ul {
        flex-direction: column;
        justify-content:flex-start;
        align-items: flex-start;
        padding-left: 50px;;
        padding-top: 100px;
    }

    .overlay-text li {
        color: hsl(var(--clr-secondary-dark-blue));
    }

    .overlay-middle {
        z-index: 3; 
        background: hsl(var(--clr-secondary-white));
        /* mention z-index in learning */
    }

    .overlay-top {
        z-index: 4;
    }

    .dimmer {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vh;
        z-index: 1;
        background-color:hsl(var(--clr-secondary-dark-blue));
        opacity: 0.5;
    }
}

#main-section-text {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    margin-top: 1.5rem;
}

@media (min-width: 600px) {
    #main-section-text {
        grid-template-columns: repeat(2, 1fr);
    }
}

#main-section-text h1 {
    font-weight: var(--fw-biggest);
    line-height: 1;
}

.button {
    padding: 10px 20px;
    margin-top: 25px;
    width: 150px;
    border: none;
    font-size: 12px;
    letter-spacing: 2px;
    cursor: pointer;
    transition: all 0.005s;
}

.button:active {
    transform: scale(0.95, 0.95);
}

#sidebar {
    padding: 20px;
}

#sidebar h2 {
    font-weight: var(--fw-700);
    font-size: 30px;
    letter-spacing: 1px;
}

.sideber-articles {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 20px;
}

#section-01,
#section-02 {
    border-bottom: 1px solid rgba(255, 255, 255, 0.342);
    padding-bottom: 20px;
}

 #footer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    height: 100px;
    padding-bottom: 200px;
    margin-top: 100px;
}

.footer-img {
    width: 125px;
}

#footer-one,
#footer-two,
#footer-three {
    display: grid;
    grid-template-columns: 100px 250px;
    align-items: center;
    width: 350px;
    justify-content: space-between;
    gap: 1.5rem;
}

/* font sizing */

section h3,
.footer-text h3 {
    font-weight: var(--fw-700);
    font-size: var(--fs-above-par);
}

#main-section-text h1 {
    font-size: var(--fs-h1);
}

.footer-text span {
    font-size: var(--fs-span);
}

.footer-text h3 {
    font-weight: var(--fw-700);
    font-size: var(--fs-above-par);
}

/* utilities */

.clr-secondary-white-bg {
    background-color: hsl(var(--clr-secondary-white));
}

.clr-secondary-white-text {
    color: hsl(var(--clr-secondary-white));
}

.clr-secondary-dark-blue-gray {
    color: hsl(var(--clr-secondary-dark-blue-gray));
}

.clr-secondary-dark-blue-bg {
    background-color: hsl(var(--clr-secondary-dark-blue));
}

.clr-secondary-dark-blue-text {
    color: hsl(var(--clr-secondary-dark-blue));
}

.clr-primary-red {
    background-color: hsl(var(--clr-primary-red));
}

.clr-primary-orange {
    color: hsl(var(--clr-primary-orange));
}

.clr-secondary-gray {
    color: hsl(var(--clr-secondary-gray));
}


